
.title {
  font-size: 1.5rem;
  justify-content: center;
  margin-left: 30%;
  margin-top: 2%;
}

.titleBody{
  font-size: 12px;
  margin-left: 23%;
}

.split {
  margin-top: 8%;
  height: 100%;
  width: 64%;
  position: fixed;
  z-index: 1;
  top: 0;
}

/* Control the left side */
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;
}

#parent{
  position: relative;
}

.messages{
  margin-top: 13%;
  height:30%;
  width:27%;
  position: absolute;
  border-radius:10%;
}

.phone{
  margin-left: 5%;
}

.carousel{
  padding: 10%;
  /* background-color: blue; */
  margin-top: 23%;
  margin-left: 8%;
  width: 50%;
  color: black;
}
.carousel-indicators li { visibility: hidden; }
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: black;
  font-size: 20px; 
}